<!DOCTYPE html>
<html lang="en" prototype="delicious-dishes">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delicious dishes</title>
</head>

<body>
    <!-- <div id="guid"></div> -->
    <%= require(`html-loader!./partials/top.html`) %>
        <%= require(`html-loader!./partials/choose-and-enjoy.html`) %>
            <%= require(`html-loader!./partials/up-coming-events.html`) %>
                <%= require(`html-loader!./partials/book-your-table.html`) %>
                    <%= require(`html-loader!./partials/footer.html`) %>
</body>

</html>