<section id="choose-and-enjoy" class="section-padding">
    <h1 class="section-header">
        choose & enjoy
    </h1>
    <p class="section-desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
        accumsan lacus vel facilisis.
    </p>
    <ul>
        <li class="text-center d-flex flex-column justify-content-between">
            <img src="../assets/plate-1.png" alt="">
            <div class="description d-flex flex-column justify-content-between">
                <h1 class="text-uppercase">
                    Lorem ipsum dolor
                </h1>
                <p class="mx-auto">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                </p>
                <div class="ctrl">
                    <div class="dd-btn filled-btn d-inline-block">
                        <span>order now</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center d-flex flex-column justify-content-between">
            <img src="../assets/plate-2.png" alt="">
            <div class="description d-flex flex-column justify-content-between">
                <h1 class="text-uppercase">
                    Lorem ipsum dolor
                </h1>
                <p class="mx-auto">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                </p>
                <div class="ctrl">
                    <div class="dd-btn filled-btn d-inline-block">
                        <span>order now</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center d-flex flex-column justify-content-between">
            <img src="../assets/plate-3.png" alt="">
            <div class="description">
                <h1 class="text-uppercase">
                    Lorem ipsum dolor
                </h1>
                <p class="mx-auto">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                </p>
                <div class="ctrl">
                    <div class="dd-btn filled-btn d-inline-block">
                        <span>order now</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>