<footer>
    <div class="footer-row mx-auto">
        <img src="../assets/color-logo.svg" alt="">
    </div>
    <div class="footer-row mx-auto">
        <p class="section-desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viver ra maecenas accumsan lacus vel
            facilisis.
        </p>
        <ul id="footer-info" class="list-unstyled">
            <li class="d-flex align-items-center">
                <img src="../assets/location-icon.svg" alt="">
                <p class="text-capitalize">main road, building name, country</p>
            </li>
            <li class="d-flex align-items-center">
                <img src="../assets/email.svg" alt="">
                <p>info@companyname.com</p>
            </li>
        </ul>
    </div>
    <div class="footer-row mx-auto">
        <p id="all-rights">© Company Name 2020. All rights reserved.</p>
        <ul id="social-icons" class="list-unstyled">
            <li class="d-inline">
                <img src="../assets/whats-app.png" alt="">
            </li>
            <li class="d-inline">
                <img src="../assets/twitter.png" alt="">
            </li>
            <li class="d-inline">
                <img src="../assets/instagram.png" alt="">
            </li>
            <li class="d-inline">
                <img src="../assets/facebook.png" alt="">
            </li>
        </ul>
    </div>
</footer>