<section id="top">
    <div id="logo-phone-row" class="d-flex">
        <img id="logo" src="../assets/black-logo.svg" alt="" />
        <div id="phone" class="d-flex align-items-end">
            <div id="phone_num">
                <p>Express Delivery</p>
                <p>1800 258 888</p>
            </div>
            <img id="iphone" src="../assets/iPhone.svg" alt="">
        </div>
    </div>
    <div class="menu">
        <img class="menu__logo" src="../assets/black-logo.svg" alt="" />
        <div id="menu__trigger_btn" class="menu__trigger" data-bs-toggle="collapse" data-bs-target="#collapse-target">
            <span class="line-1 d-block"></span>
            <span class="line-2 d-block"></span>
            <span class="line-3 d-block"></span>
        </div>
        <div id="collapse-target" class="collapse menu-list-container">
            <ul class="menu__links-list list-unstyled">
                <li>
                    <a class="text-uppercase" href="#home">home</a>
                </li>
                <li>
                    <a class="text-uppercase" href="#menu">menu</a>
                </li>
                <li>
                    <a class="text-uppercase" href="#our_story">our story</a>
                </li>
                <li>
                    <a class="text-uppercase" href="#contact_us">contact us</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="top-container" class="mx-auto">
        <ul class="list-unstyled">
            <li id="title">
                <img src="../assets/shap-leaf-2.png" alt="">
                <h1 class="text-capitalize">are you hungry?</h1>
            </li>
            <li id="do-not-wait">
                <p class="text-uppercase">don't wait!</p>
            </li>
            <li id="let-start">
                <p class="text-uppercase">Let start to order food now</p>
            </li>
            <li id="happy-monday" class="d-flex align-items-center justify-content-center">
                <p class="text-uppercase">
                    this monday<br /> happy hours
                </p>
                <p>
                    1+1=3
                </p>
            </li>
            <li class="ctrls">
                <div class="dd-btn outline-btn d-inline-block">
                    <span>order now</span>
                </div>
            </li>
        </ul>
        <div id="hero-image-container">
            <img src="../assets/hero-plate.png" alt="">
        </div>
    </div>
</section>