<section id="up-coming-events">
    <h3 class="section-intro-header">discover</h3>
    <h1 class="section-header">upcoming events</h1>
    <p class="section-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore
        magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
        facilisis.</p>
    <div id="slides-section">
        <ul id="events-slides" class="mx-auto">
            <li class="event-slide" data-slide-num="1">
                <div class="slide-container">
                    <div class="image-cover"></div>
                    <img src="../assets/slide-1.jpg" alt="">
                </div>
            </li>
            <li class="active-slide event-slide" data-slide-num="2">
                <div class="slide-container">
                    <div class="image-cover"></div>
                    <img src="../assets/slide-2.jpg" alt="">
                </div>
            </li>
            <li class="event-slide" data-slide-num="3">
                <div class="slide-container">
                    <div class="image-cover"></div>
                    <img src="../assets/slide-3.jpg" alt="">
                </div>
            </li>
        </ul>
        <div id="slides-ctrl">
            <ul>
                <li class="slides-btn" data-slide-num="1"></li>
                <li class="active slides-btn" data-slide-num="2"></li>
                <li class="slides-btn" data-slide-num="3"></li>
            </ul>
        </div>
    </div>
    <div id="events-grid" class="mx-auto">
        <div id="left-col">
            <div class="event-row">
                <div class="text-box">
                    <h1 class="text-uppercase">try it today</h1>
                    <h3 class="text-uppercase">most popular pasta </h3>
                </div>
                <img src="../assets/thumb-1.jpg" alt="">
            </div>
        </div>
        <div id="right-col">
            <div class="event-row">
                <div class="text-box">
                    <h1 class="text-uppercase">try it today</h1>
                    <h3 class="text-uppercase">more fun</h3>
                    <h3 class="text-uppercase">more taste</h3>
                </div>
                <img src="../assets/thumb-3.jpg" alt="">
            </div>
            <div class="event-row">
                <div class="text-box">
                    <h1 class="text-uppercase">try it today</h1>
                    <h3 class="text-uppercase">fresh & chili</h3>
                </div>
                <img src="../assets/thumb-2.jpg" alt="">
            </div>
        </div>
    </div>
</section>