<section id="best-seller">
    <article id="best-seller__desc" class="mx-auto">
        <h1 class="text-capitalize">best seller</h1>
        <p class="text-capitalize text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aliquam
            ullam illum deserunt fugit!</p>
        <ul class="list-unstyled">
            <li class="text-center">
                <img src="../assets/grand2-1.png" alt="" />
                <h1 class="text-capitalize">
                    title here
                </h1>
                <p class="mx-auto">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </li>
            <li class="text-center">
                <img src="../assets/grand2-2.png" alt="" />
                <h1 class="text-capitalize">
                    title here
                </h1>
                <p class="mx-auto">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </li>
            <li class="text-center">
                <img src="../assets/grand2-3.png" alt="" />
                <h1 class="text-capitalize">
                    title here
                </h1>
                <p class="mx-auto">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </li>
        </ul>
    </article>
</section>