<footer id="restaurant-footer" class="mx-auto">
    <div class="left-part">
        <h1 class="text-uppercase">title here</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at dignissim nunc, id maximus ex. Etiam nec
            dignissim elit, at dignissim enim.</p>
        <ul class="list-unstyled d-flex justify-content-between">
            <li class="text-capitalize">
                <img src="../assets/facebook.svg" alt="" />
            </li>
            <li class="text-capitalize">
                <img src="../assets/instagram.svg" alt="" />
            </li>
            <li class="text-capitalize">
                <img src="../assets/twitter.svg" alt="" />
            </li>
            <li class="text-capitalize">
                <img src="../assets/whatsApp.svg" alt="" />
            </li>
        </ul>
    </div>
    <div class="right-part">
        <div class="list-column">
            <h1 class="text-uppercase">about</h1>
            <ul class="list-unstyled">
                <li class="text-capitalize">
                    history
                </li>
                <li class="text-capitalize">
                    our team
                </li>
                <li class="text-capitalize">
                    brand guidelines
                </li>
                <li class="text-capitalize">
                    terms & condition
                </li>
                <li class="text-capitalize">
                    privacy policy
                </li>
            </ul>
        </div>
        <div class="list-column">
            <h1 class="text-uppercase">services</h1>
            <ul class="list-unstyled">
                <li class="text-capitalize">
                    how to Order
                </li>
                <li class="text-capitalize">
                    our Product
                </li>
                <li class="text-capitalize">
                    order status
                </li>
                <li class="text-capitalize">
                    promo
                </li>
                <li class="text-capitalize">
                    payment Method
                </li>
            </ul>
        </div>
        <div class="list-column">
            <h1 class="text-uppercase">other</h1>
            <ul class="list-unstyled">
                <li class="text-capitalize">
                    contact Us
                </li>
                <li class="text-capitalize">
                    help
                </li>
                <li class="text-capitalize">
                    privacy
                </li>
            </ul>
        </div>
    </div>
</footer>