<section id="statistics">
    <article id="statistics__top" class="mx-auto">
        <img id="bg" src="../assets/shap9.svg" alt="" />
        <div id="content" class="mx-auto">
            <img src="../assets/grand3-1.png" alt="" />
            <div id="text">
                <h1 class="text-capitalize">oriental taste</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum
                    vestibulum.</p>
                <div class="restaurant-project__btn">
                    <span>order now</span>
                </div>
            </div>
        </div>
    </article>
    <article id="statistics__mid" class="mx-auto d-flex flex-column align-items-center">
        <h1 class="text-capitalize">statistics</h1>
        <p class="text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.
        </p>
        <ul id="counters-list" class="list-unstyled">
            <li class="d-flex flex-column justify-content-center align-items-center rounded-circle">
                <h1 id="target1">0</h1>
                <p class="text-uppercase">outlets</p>
            </li>
            <li class="d-flex flex-column justify-content-center align-items-center rounded-circle">
                <h1 id="target2">0</h1>
                <p class="text-uppercase">chef</p>
            </li>
            <li class="d-flex flex-column justify-content-center align-items-center rounded-circle">
                <h1 id="target3">0</h1>
                <p class="text-uppercase">menu</p>
            </li>
            <li class="d-flex flex-column justify-content-center align-items-center rounded-circle">
                <h1 id="target4">0</h1>
                <p class="text-uppercase">country</p>
            </li>
        </ul>
    </article>
    <article id="statistics__bottom" class="mx-auto">
        <img id="bg" src="../assets/shap8.svg" alt="" />
        <div id="content" class="mx-auto">
            <div id="text">
                <h1 class="text-capitalize">chicken grill</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum
                    vestibulum.</p>
                <div class="restaurant-project__btn">
                    <span>order now</span>
                </div>
            </div>
            <img src="../assets/grand3-2.png" alt="" />
        </div>
    </article>
</section>