<section id="res-top-section">
    <div id="res-main-menu" class="menu">
        <img class="menu__logo" src="../assets/logo.svg" alt="" />
        <div id="collapse-target" class="collapse collapse-menu__links-list">
            <ul class="menu__links-list list-unstyled">
                <li>
                    <a class="text-capitalize" href="#home">home</a>
                </li>
                <li>
                    <a class="text-capitalize" href="#product">product</a>
                </li>
                <li>
                    <a class="text-capitalize" href="#promo">promo</a>
                </li>
                <li>
                    <a class="text-capitalize" href="#about">about</a>
                </li>
                <li>
                    <a class="text-capitalize" href="#contact">contact</a>
                </li>
            </ul>
        </div>
        <div id="menu__trigger_btn" class="menu__trigger" data-bs-toggle="collapse" data-bs-target="#collapse-target">
            <span class="line-1 d-block"></span>
            <span class="line-2 d-block"></span>
            <span class="line-3 d-block"></span>
        </div>
        <img class="menu__search" src="../assets/search.svg" alt="" />
    </div>
    <div class="section-block mx-auto">
        <article class="section-block__shap"></article>
        <article class="section-block__text">
            <h1 class="heading text-capitalize">title here</h1>
            <p class="desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ut sapiente nisi
            </p>
            <div class="restaurant-project__btn">
                <span>order now</span>
            </div>
        </article>
    </div>
</section>