<section id="discount">
    <div class="discount-row">
        <img class="discount-row__img" src="../assets/food3-1.jpg" alt="" />
        <div id="discount-row-1" class="discount-row__info animate__animated-discount">
            <h1>Discount up to 50% All Menu</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores excepturi accusamus, dignissimos
                consectetur asperiores, repellat, itaque quos totam nihil pariatur voluptas?</p>
            <div class="section-btns d-flex">
                <div class="healthy-food-project__btn">
                    <span>read more</span>
                </div>
            </div>
        </div>
    </div>
    <div class="discount-row">
        <div id="discount-row-2" class="discount-row__info animate__animated-discount">
            <h1>January's Promo: Buy 1 Get 1 Free!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores excepturi accusamus, dignissimos
                consectetur asperiores, repellat, itaque quos totam nihil pariatur voluptas?</p>
            <div class="section-btns d-flex">
                <div class="healthy-food-project__btn">
                    <span>read more</span>
                </div>
            </div>
        </div>
        <img class="discount-row__img" src="../assets/food3-2.jpg" alt="" />
    </div>
</section>