<section id="free-delivery" class="animate__animated-free-delivery">
    <h1 class="text-capitalize text-center">
        free delivery
    </h1>
    <p class="mx-auto text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero vitae dolore nobis recusandae magni ipsam
        reprehenderit cum enim sequi aperiam!
    </p>
    <div class="section-btns d-flex">
        <div class="healthy-food-project__btn">
            <span>get voucher</span>
        </div>
    </div>
</section>