<section id="how-to-order">
    <h1 class="text-uppercase text-center">
        how to order
    </h1>
    <ul id="steps" class="list-unstyled mx-auto">
        <li class="order-step d-flex flex-column justify-content-center align-items-center">
            <span class="d-flex justify-content-center align-items-center rounded-circle">1</span>
            <h1 class="text-capitalize">order</h1>
            <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat
                commodi sint neque? Odio dignissimos natus et.</p>
        </li>
        <li class="order-step d-flex flex-column justify-content-center align-items-center">
            <span class="d-flex justify-content-center align-items-center rounded-circle">2</span>
            <h1 class="text-capitalize">choose menu</h1>
            <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat
                commodi sint neque? Odio dignissimos natus et.</p>
        </li>
        <li class="order-step d-flex flex-column justify-content-center align-items-center">
            <span class="d-flex justify-content-center align-items-center rounded-circle">3</span>
            <h1 class="text-capitalize">delivery</h1>
            <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat
                commodi sint neque? Odio dignissimos natus et.</p>
        </li>
    </ul>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active order-step">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <span class="d-flex justify-content-center align-items-center rounded-circle">1</span>
                    <h1 class="text-capitalize">order</h1>
                    <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat commodi
                        sint neque? Odio dignissimos natus et.</p>
                </div>
            </div>
            <div class="carousel-item order-step">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <span class="d-flex justify-content-center align-items-center rounded-circle">2</span>
                    <h1 class="text-capitalize">choose menu</h1>
                    <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat commodi
                        sint neque? Odio dignissimos natus et.</p>
                </div>
            </div>
            <div class="carousel-item order-step">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <span class="d-flex justify-content-center align-items-center rounded-circle">3</span>
                    <h1 class="text-capitalize">delivery</h1>
                    <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat commodi
                        sint neque? Odio dignissimos natus et.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</section>