<section id="popular-menu">
    <h1 class="text-center text-uppercase">
        popular menu
    </h1>
    <ul id="menu-list">
        <li id="menu-list__item" class="d-flex flex-column justify-content-center align-items-left">
            <img src="../assets/food2-1.jpg" alt="" />
            <div class="item-info">
                <h1 class="text-capitalize">
                    noodles
                </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing.
                </p>
                <p class="price">
                    $13
                </p>
            </div>
        </li>
        <li id="menu-list__item" class="d-flex flex-column justify-content-center align-items-left">
            <img src="../assets/food2-2.jpg" alt="" />
            <div class="item-info">
                <h1 class="text-capitalize">
                    noodles
                </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing.
                </p>
                <p class="price">
                    $13
                </p>
            </div>
        </li>
        <li id="menu-list__item" class="d-flex flex-column justify-content-center align-items-left">
            <img src="../assets/food2-3.jpg" alt="" />
            <div class="item-info">
                <h1 class="text-capitalize">
                    noodles
                </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing.
                </p>
                <p class="price">
                    $13
                </p>
            </div>
        </li>
    </ul>

    <div id="section-btns" class="d-flex justify-content-center">
        <div class="healthy-food-project__btn">
            <span>show more</span>
        </div>
    </div>
</section>