<section id="testimonial">
    <h1 class="text-center">
        "
    </h1>
    <p id="testimonial-text" class="mx-auto animate__animated-testimonial">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate nihil eum molestias, nostrum ex
        quisquam vero corrupti alias odio dolor.
    </p>
    <span class="text-uppercase text-center d-block">
        signature
    </span>
    <ul class="list-unstyled d-flex justify-content-center">
        <li>
            <img src="../assets/inst.svg" alt="" />
        </li>
        <li>
            <img src="../assets/facebook.svg" alt="" />
        </li>
        <li>
            <img src="../assets/twitter.svg" alt="" />
        </li>
    </ul>
</section>