<section id="top-section">
    <div class="menu">
        <img class="menu__logo" src="../assets/logo.svg" alt="" />
        <div id="menu__trigger_btn" class="menu__trigger" data-bs-toggle="collapse" data-bs-target="#collapse-target">
            <span class="line-1 d-block"></span>
            <span class="line-2 d-block"></span>
            <span class="line-3 d-block"></span>
        </div>
        <div id="collapse-target" class="collapse menu-list-container">
            <ul class="menu__links-list list-unstyled">
                <li>
                    <a class="text-capitalize" href="#home">home</a>
                </li>
                <li>
                    <a class="text-capitalize" href="#product">our menu</a>
                </li>
                <li>
                    <a class="text-capitalize" href="#promo">promo</a>
                </li>
                <li>
                    <a class="text-capitalize" href="#about">order</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content mx-auto">
        <h1 id="hfr_main_heading" class="animate__animated-top-section text-center text-capitalize">healthy food
            restaurant</h1>
        <h3 id="hfr_sup_heading" class="animate__animated-top-section text-center mx-auto">Lorem ipsum dolor sit
            amet, consectetuer adipiscing elit.</h3>
    </div>
</section>