<!DOCTYPE html>
<html lang="en" prototype="spicy-restaurant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="restaurant-project">
        <%= require(`html-loader!./partials/top-section.html`) %>
            <%= require(`html-loader!./partials/best-seller.html`) %>
                <%= require(`html-loader!./partials/statistics.html`) %>
                    <%= require(`html-loader!./partials/lenora-fields.html`) %>
                        <%= require(`html-loader!./partials/subscribe.html`) %>
                            <%= require(`html-loader!./partials/restaurant-footer.html`) %>
    </div>
</body>

</html>