<section id="about-us">
    <article class="mx-auto">
        <img src="../assets/potato.png" alt="" />
        <div class="desc">
            <h1 class="text-uppercase">
                about us
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui suscipit vitae aspernatur tempore, quos
                harum placeat eos. Aliquid, quibusdam! Fugit quas delectus vitae. Non doloribus assumenda a.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui suscipit vitae aspernatur tempore, quos
                harum placeat eos. Aliquid, quibusdam! Fugit quas delectus vitae. Non doloribus assumenda a.</p>
        </div>
    </article>
</section>