<section id="the-blog">
    <h1 class="text-uppercase text-center">burger blog</h1>
    <h3 class="text-center">Discover the best Burger recipes</h3>
    <ul class="mx-auto list-unstyled">
        <li class="text-center">
            <img src="../assets/burger-3.png" alt="" />
            <h3>classic burger / 26th May, 2020</h3>
            <h1>Lorem ipsum dolor sit.</h1>
            <p>Lorem ipsum dolor sit amet, adipisicing elit. Ipsum.</p>
            <div class="section-btns d-flex justify-content-center align-items-center">
                <div class="burger-big-project__btn text-uppercase">
                    <span>read more</span>
                </div>
            </div>
        </li>
        <li class="text-center list-unstyled">
            <img src="../assets/burger-3.png" alt="" />
            <h3>classic burger / 26th May, 2020</h3>
            <h1>Lorem ipsum dolor sit.</h1>
            <p>Lorem ipsum dolor sit amet, adipisicing elit. Ipsum.</p>
            <div class="section-btns d-flex justify-content-center align-items-center">
                <div class="burger-big-project__btn text-uppercase">
                    <span>read more</span>
                </div>
            </div>
        </li>
        <li class="text-center list-unstyled">
            <img src="../assets/burger-3.png" alt="" />
            <h3>classic burger / 26th May, 2020</h3>
            <h1>Lorem ipsum dolor sit.</h1>
            <p>Lorem ipsum dolor sit amet, adipisicing elit. Ipsum.</p>
            <div class="section-btns d-flex justify-content-center align-items-center">
                <div class="burger-big-project__btn text-uppercase">
                    <span>read more</span>
                </div>
            </div>
        </li>
    </ul>
</section>