<section id="combos">
    <h1 id="combos__header" class="text-uppercase">combos</h1>
    <p id="combos__para" class="text-center">
        <span>We have the perfect Burger combination.</span>
        <span>Choose your best option.</span>
    </p>
    <div class="swiper-main-container">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide d-flex flex-column align-items-center">
                    <h1 class="text-uppercase">
                        combo 1
                    </h1>
                    <ul class="list-unstyled">
                        <li class="text-uppercase text-center">type burger1</li>
                        <li class="text-uppercase text-center"><span>burgers</span><br /><span>chocolate</span></li>
                        <li class="text-uppercase text-center">type desserts1</li>
                    </ul>
                    <span class="price text-center">&euro;00</span>
                    <div class="section-btns d-flex justify-content-center align-items-center">
                        <div class="burger-big-project__btn text-uppercase">
                            add to cart
                        </div>
                    </div>
                </div>
                <div class="swiper-slide d-flex flex-column align-items-center">
                    <h1 class="text-uppercase">
                        combo 2
                    </h1>
                    <ul class="list-unstyled">
                        <li class="text-uppercase text-center">type burger1</li>
                        <li class="text-uppercase text-center"><span>burgers</span><br /><span>chocolate</span></li>
                        <li class="text-uppercase text-center">type desserts1</li>
                    </ul>
                    <span class="price text-center">&euro;00</span>
                    <div class="section-btns d-flex justify-content-center align-items-center">
                        <div class="burger-big-project__btn text-uppercase">
                            add to cart
                        </div>
                    </div>
                </div>
                <div class="swiper-slide d-flex flex-column align-items-center">
                    <h1 class="text-uppercase">
                        combo 3
                    </h1>
                    <ul class="list-unstyled">
                        <li class="text-uppercase text-center">type burger1</li>
                        <li class="text-uppercase text-center"><span>burgers</span><br /><span>chocolate</span></li>
                        <li class="text-uppercase text-center">type desserts1</li>
                    </ul>
                    <span class="price text-center">&euro;00</span>
                    <div class="section-btns d-flex justify-content-center align-items-center">
                        <div class="burger-big-project__btn text-uppercase">
                            add to cart
                        </div>
                    </div>
                </div>
                <div class="swiper-slide d-flex flex-column align-items-center">
                    <h1 class="text-uppercase">
                        combo 4
                    </h1>
                    <ul class="list-unstyled">
                        <li class="text-uppercase text-center">type burger1</li>
                        <li class="text-uppercase text-center"><span>burgers</span><br /><span>chocolate</span></li>
                        <li class="text-uppercase text-center">type desserts1</li>
                    </ul>
                    <span class="price text-center">&euro;00</span>
                    <div class="section-btns d-flex justify-content-center align-items-center">
                        <div class="burger-big-project__btn text-uppercase">
                            add to cart
                        </div>
                    </div>
                </div>
                <div class="swiper-slide d-flex flex-column align-items-center">
                    <h1 class="text-uppercase">
                        combo 5
                    </h1>
                    <ul class="list-unstyled">
                        <li class="text-uppercase text-center">type burger1</li>
                        <li class="text-uppercase text-center"><span>burgers</span><br /><span>chocolate</span></li>
                        <li class="text-uppercase text-center">type desserts1</li>
                    </ul>
                    <span class="price text-center">&euro;00</span>
                    <div class="section-btns d-flex justify-content-center align-items-center">
                        <div class="burger-big-project__btn text-uppercase">
                            add to cart
                        </div>
                    </div>
                </div>
                <div class="swiper-slide d-flex flex-column align-items-center">
                    <h1 class="text-uppercase">
                        combo 6
                    </h1>
                    <ul class="list-unstyled">
                        <li class="text-uppercase text-center">type burger1</li>
                        <li class="text-uppercase text-center"><span>burgers</span><br /><span>chocolate</span></li>
                        <li class="text-uppercase text-center">type desserts1</li>
                    </ul>
                    <span class="price text-center">&euro;00</span>
                    <div class="section-btns d-flex justify-content-center align-items-center">
                        <div class="burger-big-project__btn text-uppercase">
                            add to cart
                        </div>
                    </div>
                </div>
                <div class="swiper-slide d-flex flex-column align-items-center">
                    <h1 class="text-uppercase">
                        combo 7
                    </h1>
                    <ul class="list-unstyled">
                        <li class="text-uppercase text-center">type burger1</li>
                        <li class="text-uppercase text-center"><span>burgers</span><br /><span>chocolate</span></li>
                        <li class="text-uppercase text-center">type desserts1</li>
                    </ul>
                    <span class="price text-center">&euro;00</span>
                    <div class="section-btns d-flex justify-content-center align-items-center">
                        <div class="burger-big-project__btn text-uppercase">
                            add to cart
                        </div>
                    </div>
                </div>
                <div class="swiper-slide d-flex flex-column align-items-center">
                    <h1 class="text-uppercase">
                        combo 8
                    </h1>
                    <ul class="list-unstyled">
                        <li class="text-uppercase text-center">type burger1</li>
                        <li class="text-uppercase text-center"><span>burgers</span><br /><span>chocolate</span></li>
                        <li class="text-uppercase text-center">type desserts1</li>
                    </ul>
                    <span class="price text-center">&euro;00</span>
                    <div class="section-btns d-flex justify-content-center align-items-center">
                        <div class="burger-big-project__btn text-uppercase">
                            add to cart
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>