<section id="make-reservation">
    <h1 class="text-uppercase text-center">make a reservation</h1>
    <ul class="list-unstyled mx-auto">
        <li class="d-flex">
            <input placeholder="1 Person" class="input-with-btn" type="text" id="num_of_people" name="num_of_people" />
            <span class="d-flex justify-content-center align-items-center input-interaction">
                <img class="opt-margin" src="../assets/tri-down.svg" alt="" />
            </span>
        </li>
        <li class="d-flex">
            <input placeholder="Date" class="input-with-btn" type="text" id="date" name="date" />
            <span class="d-flex justify-content-center align-items-center input-interaction">
                <img class="opt-margin" src="../assets/calendar.svg" alt="" />
            </span>
        </li>
        <li class="d-flex">
            <input placeholder="Time" class="input-with-btn" type="text" id="time" name="time" />
            <span class="d-flex justify-content-center align-items-center input-interaction">
                <img src="../assets/clock.svg" alt="" />
            </span>
        </li>
        <li class="d-flex">
            <input placeholder="Name" type="text" id="name" name="name" />
        </li>
        <li class="d-flex">
            <input placeholder="Email" type="text" id="email" name="email" />
        </li>
        <li class="d-flex">
            <input placeholder="Phone" type="text" id="phone" name="phone" />
        </li>
    </ul>
    <div class="section-btns d-flex justify-content-center align-items-center">
        <div class="burger-big-project__btn text-uppercase">
            <span>submit</span>
        </div>
    </div>
</section>