<section id="order-steps">
    <ul class="d-flex mx-auto">
        <li class="d-flex flex-column justify-content-center align-items-center rounded-circle">
            <h1 class="text-uppercase">choose</h1>
            <p class="text-center">
                Choose what you prefer from our Menu. If you don’t want to think choose directly a Combo.
            </p>
        </li>
        <li class="d-flex flex-column justify-content-center align-items-center rounded-circle">
            <h1 class="text-uppercase">order</h1>
            <p class="text-center">
                you can order food online or if you prefer, you can go into our restaurant
            </p>
        </li>
        <li class="d-flex flex-column justify-content-center align-items-center rounded-circle">
            <h1 class="text-uppercase">receive</h1>
            <p class="text-center">
                pick up your order in one of our restaurants or have it delivered in your home
            </p>
        </li>
    </ul>
    <div id="plus-free-delivery" class="d-flex mx-auto">
        <img src="../assets/pluse.svg" alt="" />
    </div>
    <article id="full-free-delivery">
        <img src="../assets/burger-2.png" alt="" />
        <div id="delivery-desc">
            <h1>
                FREE<br /> DELIVERY
            </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet dolore magna aliquam erat volutpat.
            </p>
            <div class="section-btns d-flex">
                <div class="burger-big-project__btn text-uppercase">
                    <span>
                        GET VOUCHER
                    </span>
                </div>
            </div>
        </div>
    </article>
</section>