<section id="big-burger">
    <div class="section-content">
        <h1 class="text-uppercase text-center">menu</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim ut aliquip ex ea.</p>
        <article id="pick-menu-big" class="pick-menu">
            <div class="pick-menu__side">
                <h1 class="text-uppercase">burgers & milkshakes</h1>
                <ul class="list-unstyled">
                    <li class="d-flex justify-content-between">
                        <span class="pick-name text-capitalize">classic burger</span>
                        <label class="pick-price d-flex align-items-end">
                            &euro;10
                            <input type="radio" id="burgers_milkshakes" name="burgers_milkshakes" value="10"></input>
                            <div class="checkmark"></div>
                        </label>
                    </li>
                    <li class="d-flex justify-content-between">
                        <span class="pick-name text-capitalize">cheese burger</span>
                        <label class="pick-price d-flex align-items-end">
                            &euro;20
                            <input type="radio" id="burgers_milkshakes" name="burgers_milkshakes" value="20"></input>
                            <div class="checkmark"></div>
                        </label>
                    </li>
                    <li class="d-flex justify-content-between">
                        <span class="pick-name text-capitalize">double cheese burger</span>
                        <label class="pick-price d-flex align-items-end">
                            &euro;30
                            <input type="radio" id="burgers_milkshakes" name="burgers_milkshakes" value="30"></input>
                            <div class="checkmark"></div>
                        </label>
                    </li>
                    <li class="d-flex justify-content-between">
                        <span class="pick-name text-capitalize">chocolate milkshake</span>
                        <label class="pick-price d-flex align-items-end">
                            &euro;40
                            <input type="radio" id="burgers_milkshakes" name="burgers_milkshakes" value="40"></input>
                            <div class="checkmark"></div>
                        </label>
                    </li>
                    <li class="d-flex justify-content-between">
                        <span class="pick-name text-capitalize">strawberry milkshake</span>
                        <label class="pick-price d-flex align-items-end">
                            &euro;50
                            <input type="radio" id="burgers_milkshakes" name="burgers_milkshakes" value="50"></input>
                            <div class="checkmark"></div>
                        </label>
                    </li>
                    <li class="d-flex justify-content-between">
                        <span class="pick-name text-capitalize">banana milkshake</span>
                        <label class="pick-price d-flex align-items-end">
                            &euro;60
                            <input type="radio" id="burgers_milkshakes" name="burgers_milkshakes" value="60"></input>
                            <div class="checkmark"></div>
                        </label>
                    </li>
                </ul>
            </div>
            <div class="pick-menu__side">
                <h1 class="text-uppercase">desserts</h1>
                <ul class="list-unstyled">
                    <li class="d-flex justify-content-between">
                        <span class="pick-name text-capitalize">ice creams</span>
                        <label class="pick-price d-flex align-items-end">
                            &euro;10
                            <input type="radio" id="desserts" name="desserts" value="10"></input>
                            <div class="checkmark"></div>
                        </label>
                    </li>
                    <li class="d-flex justify-content-between">
                        <span class="pick-name text-capitalize">triple chocolate cookie</span>
                        <label class="pick-price d-flex align-items-end">
                            &euro;20
                            <input type="radio" id="desserts" name="desserts" value="20"></input>
                            <div class="checkmark"></div>
                        </label>
                    </li>
                    <li class="d-flex justify-content-between">
                        <span class="pick-name text-capitalize">new york cheesecake</span>
                        <label class="pick-price d-flex align-items-end">
                            &euro;30
                            <input type="radio" id="desserts" name="desserts" value="30"></input>
                            <div class="checkmark"></div>
                        </label>
                    </li>
                    <li class="d-flex justify-content-between">
                        <span class="pick-name text-capitalize">sacher cake</span>
                        <label class="pick-price d-flex align-items-end">
                            &euro;40
                            <input type="radio" id="desserts" name="desserts" value="40"></input>
                            <div class="checkmark"></div>
                        </label>
                    </li>
                    <li class="d-flex justify-content-between">
                        <span class="pick-name text-capitalize">chocolate muffin</span>
                        <label class="pick-price d-flex align-items-end">
                            &euro;50
                            <input type="radio" id="desserts" name="desserts" value="50"></input>
                            <div class="checkmark"></div>
                        </label>
                    </li>
                    <li class="d-flex justify-content-between">
                        <span class="pick-name text-capitalize">berry muffin</span>
                        <label class="pick-price d-flex align-items-end">
                            &euro;60
                            <input type="radio" id="desserts" name="desserts" value="60"></input>
                            <div class="checkmark"></div>
                        </label>
                    </li>
                </ul>
            </div>
        </article>
        <p id="you-can" class="big-design text-uppercase">
            if you want, you can exchange A milkSHAKE foR A DRINK <span>(+&euro;0.85)</span>
        </p>
        <p id="you-can" class="mid-design text-center text-uppercase">
            if you want,<br /> you can exchange A milkSHAKE<br /> foR A DRINK <span>(+&euro;0.85)</span>
        </p>
        <article id="pick-menu-small" class="pick-menu d-flex">
            <h1 class="text-uppercase">drinks</h1>
            <ul>
                <li class="d-flex">
                    <span class="pick-name text-capitalize">mineral watter</span>
                    <label class="pick-price d-flex align-items-end">
                        &euro;5
                        <input type="radio" id="burgers_milkshakes" name="burgers_milkshakes" value="5"></input>
                        <div class="checkmark"></div>
                    </label>
                </li>
                <li class="d-flex">
                    <span class="pick-name text-capitalize">iced tea</span>
                    <label class="pick-price d-flex align-items-end">
                        &euro;10
                        <input type="radio" id="burgers_milkshakes" name="burgers_milkshakes" value="10"></input>
                        <div class="checkmark"></div>
                    </label>
                </li>
                <li class="d-flex">
                    <span class="pick-name text-capitalize">orange juice</span>
                    <label class="pick-price d-flex align-items-end">
                        &euro;15
                        <input type="radio" id="burgers_milkshakes" name="burgers_milkshakes" value="15"></input>
                        <div class="checkmark"></div>
                    </label>
                </li>
            </ul>
        </article>
        <div class="section-btns d-flex justify-content-center align-items-center">
            <div class="burger-big-project__btn text-uppercase">
                add to cart
            </div>
        </div>
    </div>
</section>