<section id="the-creators">
    <article class="mx-auto">
        <h1 class="text-uppercase">the creators</h1>
        <div>
            <ul class="list-unstyled">
                <li class="d-flex">
                    <img src="../assets/yellow-circle-p.svg" alt="" />
                    <div class="d-flex flex-column">
                        <h1 class="text-uppercase">name creator</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </li>
                <li class="d-flex">
                    <img src="../assets/pink-circle-p.svg" alt="" />
                    <div class="d-flex flex-column">
                        <h1 class="text-uppercase">name creator</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </li>
            </ul>
            <img src="../assets/food-badge.svg" alt="" />
        </div>
    </article>
</section>