<section id="top-section">
    <div class="menu">
        <img class="menu__logo" src="../assets/logo.svg" alt="" />
        <div id="collapse-target" class="collapse collapse-menu__links-list">
            <ul class="menu__links-list list-unstyled">
                <li>
                    <a class="text-uppercase" href="#menu">menu</a>
                </li>
                <li>
                    <a class="text-uppercase" href="#combos">combos</a>
                </li>
                <li>
                    <a class="text-uppercase" href="#reservation">reservation</a>
                </li>
                <li>
                    <a class="text-uppercase" href="#about-us">about us</a>
                </li>
                <li>
                    <a class="text-uppercase" href="#contact">contact</a>
                </li>
            </ul>
        </div>
        <div id="menu__trigger_btn" class="menu__trigger" data-bs-toggle="collapse" data-bs-target="#collapse-target">
            <span class="line-1 d-block"></span>
            <span class="line-2 d-block"></span>
            <span class="line-3 d-block"></span>
        </div>
        <img class="menu__cart" src="../assets/cart.svg" alt="" />
    </div>
    <div class="content mx-auto">
        <h1 class="text-uppercase text-center">
            we <span class="love-text">love</span><br /> delicious food
        </h1>
        <h3 class="text-uppercase text-center">
            discover why
        </h3>
        <div class="section-btns d-flex justify-content-center align-items-center">
            <img src="../assets/arrow-circle-btn.svg" alt="" />
        </div>
    </div>
</section>