<section id="beginners-yoga">
    <h1 id="beginners-yoga__heading" class="text-uppercase d-flex justify-content-center align-items-center">
        yoga for beginners
    </h1>
    <article id="beginners-yoga__article-1">
        <div class="article-block">
            <div class="d-flex flex-column justify-content-between">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt qui similique porro ullam et
                    accusamus, illum consectetur sequi voluptates fugit!<br />Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Sunt qui similique porro ullam et accusamus, illum consectetur sequi voluptates
                    fugit!
                </p>
                <div class="article-block__btn yoga-project__btn">
                    <div class="btn-skele">
                        <img src="../assets/btn-2.svg" alt="" />
                        <span class="text-capitalize secondary-style">read more</span>
                    </div>
                </div>
            </div>
            <img class="yoga-project__res-img" src="../assets/yoga4-1.jpg" alt="" />
        </div>
    </article>
    <article id="beginners-yoga__article-2">
        <div class="article-block">
            <img class="yoga-project__res-img" src="../assets/yoga4-2.jpg" alt="" />
            <div class="text-block">
                <div class="text-end mx-auto">
                    <h1 class="text-center">
                        " Your strength is how calmly,<br /> quietly and peacefully<br /> you face life "
                    </h1>
                    <span class="d-block text-capitalize text-right">yogi b.</span>
                </div>
            </div>
        </div>
    </article>
    <article id="beginners-yoga__article-3">
        <div class="article-block d-flex flex-column align-items-center">
            <h1 class="text-uppercase d-flex align-items-center justify-content-center">
                yoga
            </h1>
            <h2 class="text-uppercase d-flex align-items-center justify-content-center">
                registration is open
            </h2>
            <h3 class="text-uppercase">
                <div class="text-positioner h-100 d-flex align-items-center justify-content-center">
                    <img src="../assets/btn-2.svg" alt="" />
                    <span class="d-inline-block">get 15% off</span>
                    <img src="../assets/btn-2.svg" alt="" />
                </div>
            </h3>
            <span id="sign-up-now-btn" class="text-capitalize">
                <div class="text-positioner h-100 d-flex align-items-center justify-content-center">
                    sign up now
                </div>
            </span>
        </div>
    </article>
</section>