<section id="classes-lvls">
    <div id="classes-lvls-caps">
        <div class="cap-3"></div>
        <div class="cap-2"></div>
        <div class="cap-1"></div>
    </div>
    <ul id="classes-lvls-columns" class="list-unstyled">
        <li class="class-type class-type-1">
            <h1 class="class-type__heading text-uppercase text-center">first class free</h1>
            <img class="class-type__img" src="../assets/yoga3-1.png" alt="" />
            <p class="class-type__desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, illum
                soluta facere saepe praesentium voluptas fugit?</p>
            <div class="class-type__btn yoga-project__btn">
                <div class="btn-skele">
                    <img src="../assets/btn-1.svg" alt="" />
                    <span class="text-capitalize primary-style">read more</span>
                </div>
            </div>
        </li>
        <li class="class-type class-type-2">
            <h1 class="class-type__heading text-uppercase text-center">harmony your body</h1>
            <img class="class-type__img" src="../assets/yoga3-2.png" alt="" />
            <p class="class-type__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, consequuntur
                suscipit cum facere ipsum voluptatibus expedita?</p>
            <div class="class-type__btn yoga-project__btn">
                <div class="btn-skele">
                    <img src="../assets/btn-1.svg" alt="" />
                    <span class="text-capitalize primary-style">read more</span>
                </div>
            </div>
        </li>
        <li class="class-type class-type-3">
            <h1 class="class-type__heading text-uppercase text-center">yoga for beginners</h1>
            <img class="class-type__img" src="../assets/yoga3-3.png" alt="" />
            <p class="class-type__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, consequuntur
                suscipit cum facere ipsum voluptatibus expedita?</p>
            <div class="class-type__btn yoga-project__btn">
                <div class="btn-skele">
                    <img src="../assets/btn-1.svg" alt="" />
                    <span class="text-capitalize primary-style">read more</span>
                </div>
            </div>
        </li>
    </ul>
</section>