<section id="first-class">
    <div id="first-class-content" class="mx-auto">
        <article id="first-class__article-1">
            <h1 class="article-heading text-uppercase">first class free</h1>
            <img class="article-img" src="../assets/yoga5-3.jpg" alt="" />
            <p class="article-desc">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <div class="first-class__btn yoga-project__btn">
                <div class="btn-skele">
                    <img src="../assets/btn-1.svg" alt="" />
                    <span class="text-capitalize primary-style">read more</span>
                </div>
            </div>
        </article>
        <article id="first-class__article-2">
            <h1 class="article-heading text-uppercase">first class free</h1>
            <img class="article-img" src="../assets/yoga5-1.jpg" alt="" />
            <p class="article-desc">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <div class="first-class__btn yoga-project__btn">
                <div class="btn-skele">
                    <img src="../assets/btn-1.svg" alt="" />
                    <span class="text-capitalize primary-style">read more</span>
                </div>
            </div>
        </article>
        <article id="first-class__article-3">
            <h1 class="article-heading text-uppercase">first class free</h1>
            <img class="article-img" src="../assets/yoga5-2.jpg" alt="" />
            <p class="article-desc">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <div class="first-class__btn yoga-project__btn">
                <div class="btn-skele">
                    <img src="../assets/btn-1.svg" alt="" />
                    <span class="text-capitalize primary-style">read more</span>
                </div>
            </div>
        </article>
    </div>
</section>