<section id="our-methodology">
    <h1 id="our-methodology__heading" class="text-uppercase">
        our methodology
    </h1>
    <div id="our-methodology__heading-line"></div>
    <article id="our-methodology__article">
        <p class="para-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate optio iusto velit
            aliquam inventore corporis, quo, a voluptas recusandae nobis minus iure excepturi tempora et. Facilis enim
            vitae ullam maxime corrupti, incidunt eaque impedit ipsa ipsam in. Consequuntur aperiam mollitia sequi eum
            maiores dignissimos, ullam unde, ratione fugiat rem, placeat earum tenetur facere nesciunt perferendis.</p>
        <p class="para-right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique deserunt architecto
            cumque quis minima, facilis quia error doloremque animi illo odit earum nisi! Sint, suscipit? Ipsam nihil ex
            explicabo quis magni nostrum error reiciendis tempore laborum. Expedita voluptatum exercitationem
            repudiandae ratione recusandae, magni nostrum. Culpa, cupiditate! Animi fuga numquam, eaque harum.</p>
    </article>
    <div id="our-methodology__btn" class="text-capitalize">
        read more
    </div>
</section>