<section id="top-section">
    <div class="menu">
        <div id="collapse-target" class="collapse">
            <ul class="menu__links-list list-unstyled">
                <li>
                    <a class="text-uppercase" href="#home">home</a>
                </li>
                <li>
                    <a class="text-uppercase" href="#about">about</a>
                </li>
                <li>
                    <a class="text-uppercase" href="#blog">blog</a>
                </li>
                <li>
                    <a class="text-uppercase" href="#content">content</a>
                </li>
            </ul>
        </div>
        <div id="menu__trigger_btn" class="menu__trigger" data-bs-toggle="collapse" data-bs-target="#collapse-target">
            <span class="line-1 d-block"></span>
            <span class="line-2 d-block"></span>
            <span class="line-3 d-block"></span>
        </div>
    </div>
    <article id="main-content">
        <img src="../assets/logo.svg" alt="" />
        <div id="main-content__heading">
            <span class="left-part text-uppercase">yoga</span>
            <span class="right-part text-uppercase">classes</span>
        </div>
        <div id="main-content__heading-line"></div>
        <div id="main-content__sub-heading" class="text-uppercase">body harmony</div>
        <div id="main-content__desc" class="text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea fugit quam iure exercitationem, corporis
            voluptate
            alias minus quibusdam praesentium, harum blanditiis iusto atque porro ipsa consequatur! Modi dolores facilis
            cupiditate nihil voluptatibus.
        </div>
        <div id="main-content__btn" class="text-capitalize">
            more
        </div>
    </article>
</section>