<section id="wings-section">
    <div id="wings-section-content">
        <div id="wings-section-content__heading" class="text-uppercase">
            <img src="../assets/btn-1.svg" alt="" />
            <span class="text-center">our philosophy</span>
            <img src="../assets/btn-1.svg" alt="" />
        </div>
        <div id="wings-section-content__line"></div>
        <div id="wings-section-content__para">
            <p class="left-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum rem sit velit ab
                beatae, ad minus cumque, aperiam sapiente quam a inventore! Labore praesentium aliquid itaque illum
                nesciunt, maiores architecto error quos?</p>
            <p class="right-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quod laborum
                ducimus voluptatem velit itaque provident ipsam, nemo nam expedita impedit facilis quidem esse qui,
                praesentium quo ad iste consequatur in ab!</p>
        </div>
        <div id="wings-section-content__btn" class="text-capitalize">read more</div>
    </div>
</section>