<section id="yoga-footer">
    <div class="yoga-footer__outer-frame">
        <div class="yoga-footer__inner-frame mx-auto">
            <article id="yoga-footer-article-1">
                <div class="yoga-project__btn yoga-footer__btn">
                    <div class="btn-skele">
                        <img src="../assets/btn-2.svg" alt="" />
                        <span class="secondary-style text-uppercase">contact</span>
                    </div>
                </div>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </p>
            </article>
            <div id="yoga-footer-line"></div>
            <article id="yoga-footer-article-2">
                <div class="yoga-project__btn yoga-footer__btn">
                    <div class="btn-skele">
                        <img src="../assets/btn-2.svg" alt="" />
                        <span class="secondary-style text-uppercase">about</span>
                    </div>
                </div>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </p>
            </article>
            <div id="yoga-footer-line"></div>
            <article id="yoga-footer-article-3" class="w-100">
                <div class="yoga-project__btn yoga-footer__btn">
                    <div class="btn-skele">
                        <img src="../assets/btn-2.svg" alt="" />
                        <span class="secondary-style text-uppercase">
                            <span class="text-uppercase">followus</span>
                        </span>
                    </div>
                </div>
                <ul class="list-unstyled w-100 pt-5 d-flex justify-content-between">
                    <li class="d-inline-block">
                        <img src="../assets/twitter.svg" alt="" />
                    </li>
                    <li class="d-inline-block">
                        <img src="../assets/instegram.svg" alt="" />
                    </li>
                    <li class="d-inline-block">
                        <img src="../assets/facebook.svg" alt="" />
                    </li>
                    <li class="d-inline-block">
                        <img src="../assets/utube.svg" alt="" />
                    </li>
                </ul>
            </article>
        </div>
    </div>
</section>