<section id="yoga-therapy">
    <div id="yoga-therapy-cap"></div>
    <div id="yoga-therapy-content">
        <article id="yoga-therapy-topics">
            <div class="yoga-project__btn topics__btn">
                <div class="btn-skele">
                    <img src="../assets/btn-1.svg" alt="" />
                    <span class="text-capitalize secondary-style text-capitalize">inhale</span>
                </div>
            </div>
            <div class="yoga-project__btn topics__btn">
                <div class="btn-skele">
                    <img src="../assets/btn-1.svg" alt="" />
                    <span class="text-capitalize secondary-style text-capitalize">exhale </span>
                </div>
            </div>
        </article>
        <h1 id="yoga-therapy-idea" class="d-flex flex-column align-items-center">
            <span class="text-uppercase">yoga therapy</span>
            <div id="yoga-therapy-line"></div>
        </h1>
    </div>
</section>