@font-face {
    font-family: 'lato regular';
    src: url('./lato-regular.ttf');
}

@font-face {
    font-family: 'lato bold';
    src: url('./lato-bold.ttf');
}

@font-face {
    font-family: 'ubuntu regular';
    src: url('./ubuntu-regular.ttf');
}

@font-face {
    font-family: 'ubuntu medium';
    src: url('./ubuntu-medium.ttf');
}

@font-face {
    font-family: 'ubuntu bold';
    src: url('./ubuntu-bold.ttf');
}